    <!-- Uneaten Burgers
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

      <ul class="list-group" id="uneatenBurgers">
        {{#each burgers}}
          {{#unless devoured}}
          <form action="/api/burgers/{{this.id}}?_method=PUT" method="POST">
            <li class="list-group-item">{{this.id}}. {{this.burger_name}}
              
                  <button data-id="{{this.id}}" class="pull-right eatBurger btn btn-default btn-xs">Devour It!</button>
              </form>
            </li>
          {{/unless}}
        {{/each}}
      </ul>
    </div>

    <!-- Eaten Burgers
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <div class="col-md-5">
      <ul class="list-group" id="eatenBurgers">
        {{#each burgers}}
          {{#if devoured}}
            <li class="list-group-item bg-light text-muted disabled">{{this.id}}. {{this.burger_name}}</li>
          {{/if}}
        {{/each}}    
      </ul>
    </div>
  </div>
</div>

<!-- Burger Form
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<div class="container text-center">
  <div class="row" id="burgerForm">
    <div class="col-lg-4 col-lg-offset-4">
      <form id="burgerForm" action="/api/burgers" method="POST">
        <textarea id="userBurger" class="form-control" rows="5" name="burger_name" placeholder="Yummy Hamburger" required></textarea>
        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary" id="submitBurger"></i>Submit</button>
      </form>
    <p id="message">Enter a burger you want to eat and click the "submit" button.</p>
  </div>
</div>